<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myhealthnew">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHealth">
        <activity
            android:name=".SeeEventsAdmin"
            android:exported="false" />
        <activity
            android:name=".SeeEventsClient"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".SeeEvents"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".AddEventAdmin"
            android:exported="false" />
        <activity
            android:name=".AddMealClient"
            android:exported="false" />
        <activity
            android:name=".AddFoodAdmin"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ClientHomePage"
            android:exported="false" />
        <activity
            android:name=".AdminHomePage"
            android:exported="false" />
        <activity
            android:name=".ClientRegister2"
            android:exported="false" />
        <activity
            android:name=".ClientRegiter1"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>